.input{
    top: 0;
    right: 0;
    width: 40px;
    color: rgb(24, 23, 23);
    transition: 0.4s ease-out;
}
.btn{
    display: block;
    position: absolute;
    transform: rotateX(60%);
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: rgb(245, 244, 244);
    padding: 10px;
    right: 5px;
    margin-bottom: 10px;
}

.input.active{
    width: 500px;
    margin-bottom: 10px;
}

.input.active.input::placeholder{
    color: rgb(39, 38, 38) !important;
    padding: 10px;
    border: none !important;
    outline: none;
    width: 400px;
}